flask
werkzeug
crewai
langchain-huggingface
langchain-text-splitters
langchain-chroma==0.2.6
pyttsx3
pandas
openpyxl
pdfplumber
python-pptx
chromadb==1.1.0
tavily-python
sentence-transformers
torch
transformers
peft
Pillow
--extra-index-url https://download.pytorch.org/whl/cpu
langchain
litellm
torchvision